/* Created the styling for the body. */
body {
    
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}
/*  Making the elements display as a block. */
header,
nav,
section,
aside{
    display: block;
    background: #ebebee;
    text-align: center;
    padding: 12px;
    margin: 10px;
    
}
/* Designing the "section" part of the section element. */
section {
    display: block;
    width: 44%;
    float: left;
    height: 267px;
}
/* Aligning the aside section. */
aside {
    display: block;
    float: right;
    width: 46%;
    overflow: hidden;
    height: 267px;
    
}
/* Designing the article section. */
article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}
/* clearing the floats */
.clearfloat {
    clear: both;
}
/* Designing the paragraph and heading sections. */

h1,
p {
    display: block;
    background: #ebebeb;
    color: #777;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 90%;
}


footer {
    display: block;
    background: #ebebee;
    text-align: center;
    padding: 12px;
    margin: 10px;
    position: fixed;
    bottom: 360px;
    width: 916px;
}